<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Sign in <b class="caret"></b>
  </a>

  <ul class="dropdown-menu sign-in">
    <%= form_for(:session, url: sessions_path, html: { id: 'nav-sign-in' } ) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>
  </ul>
</li>